  body{
    margin: 0;
    padding: 0;
    background-color: #E9FAFF;
    user-select: none;
  }

  @media  screen and (min-width: 768px){

    main{
      min-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 100px;
      z-index: 1;
    }

    main h1{
      margin: 20px;
      margin-top: 50px;
      font-size: 30px;
      font-family: "calibri", sans-serif;
      text-align: center;
      color: #08090A;
    }

    main ul{
      margin: auto;
      list-style: decimal;
    }

      main ul > li{
        margin: 20px auto;
        font-size: 20px;
        font-family: "calibri", sans-serif;
        font-weight: lighter;
        color: #08090A;
      }

    main button{
      margin: 50px auto;
      padding: 8px 16px;
      font-size: 25px;
      font-family: "calibri", sans-serif;
      color: #2f9c95;
      background-color: rgba(47, 156, 149, 0.25);
      border: #2f9c95 solid 2px;
      border-radius: 3px;
      outline: none;
      transition: background 0.15s,color 0.15s;
    }

    main button:hover{
      color: #E9FAFF;
      background-color: rgba(47, 156, 149, 1);
      cursor: pointer;
    }

			main table{
				margin: 30px 0;
				min-width: 400px;
				max-width: 1000px;
				width: auto;
        border-collapse: collapse;
        text-align: center;
				font-size: 18px;
				font-family: "calibri", sans-serif;
				color: #08090A;
        box-shadow: 0 0 30px rgba(0,0,0,0.15);
				z-index: 10;
			}

			main thead tr{
				font-size: 25px;
				color: #2f9c95;
				background-color: #C3DEE7;

			}

			main td{
				padding: 25px 30px;
			}

			main tbody tr{
				background-color: #f8f9fa;
			}

      main tbody tr:nth-child(even){
				background-color: #e9ecef;
			}
  }

  @media  screen and (orientation: portrait) and (min-width: 768px){
    main{
      top: 150px;
    }

    main h1{
      margin: 40px;
      margin-top: 100px;
      font-size: 60px;
      color: #08090A;
    }

      main ul > li{
        margin: 40px auto;
        font-size: 40px;
      }

    main button{
      margin: 100px auto;
      padding: 16px 32px;
      font-size: 50px;
      border: #2f9c95 solid 4px;
      border-radius: 6px;
    }

			main table{
				margin: 60px 0;
				min-width: 700px;
				font-size: 36px;
        box-shadow: 0 0 30px rgba(0,0,0,0.15);
				z-index: 10;
			}

			main thead tr{
				font-size: 50px;

			}

			main td{
				padding: 50px 60px;
			}
  }

  @media  screen and (min-width: 200px) and (max-width: 768px){

    main{
      min-height: 100%;
      position: relative;
      top: 100px;
      z-index: 1;
    }
  }
